* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    color: #f2f2f2;
}

header {
    background-color: #1399d6ec;
    height: 70px;
}

header img {
    width: 280px;
    height: 60px;
    margin-top: 5px;
    margin-left: 10%;
}

nav {
    background-color: #00587c;
}

.navbar {
    overflow: hidden;
    margin: 0 10%;
}

.navbar a,
#loginSingup {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#loginSingup {
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#login {
    float: right;
}

#login .dropbtn {
    padding: 12px;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
#loginSingup:hover {
    background-color: #1399d6ec;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1399d6ec;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5bc4f5ec;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    background-color: #fff;
    color: #3a3a3a;
    font-family: 'Nunito', sans-serif;
}

#banner {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

footer {
    background-color: #1399d6ec;
    text-align: center;
    color: white;
    padding: 40px;
}

img#userimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}